{% extends 'default.html' %}
{% block title %}
    {% if title is defined %}
        {{ title }}
    {% else %}
        Error
    {% endif %}
{% endblock %}

{% block content %}
    {% if title is defined %}
        <div class="card">
            <h4 class="card-header">{{ title }} - {{ rating }}/10</h4>
            <div class="card-body">
                <h6>By <a href="{{ url_for('view_user', id_=user_id, name=by) }}">{{ by }}</a></h6>
                <p class="card-text">{{ review }}</p>
                <a class="btn btn-primary">Upvote <span class="badge badge-light">{{ up }}</span></a>
                <a class="btn btn-danger">Downvote <span class="badge badge-light">{{ down }}</span></a>
            </div>
            <div class="card-footer text-muted">Posted: {{ date }}</div>
        </div>
    {% else %}
        <h1>Error</h1>
    {% endif %}
{% endblock %}
